<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Username" value="ExchangeWebClient" />
		<add key="Password" value="KLEOP2-2Ds2k9j-lwd9mW2mK-9K8h2H5" />
		<add key="GrantType" value="User" />
		<add key="BaseUrl" value="http://localhost:5042/" />
	</appSettings>
</configuration>