@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<script>
    function checkInputs() {
        var name = document.getElementById("username").value;
        var password = document.getElementById("password").value;
        if (name === '' || password === '') {
            alert("Please fill username and password");
        } else {

        }
    }
</script>

<style>

</style>

<h1>Login Page</h1>
&nbsp
<body>
    <div>
        <label>Username:</label> 
        <input type="text" id="username" required/>
    </div>
    &nbsp
    <div>
        <label>Password:</label>
        <input type="text" id="password" required/>
    </div>
    &nbsp
    <div>
        <input type="submit" value="Login" onclick="checkInputs()"/>
    </div>
</body>