@model IEnumerable<Models.Post>
@using Models

@{
    double offerAmount = (double)ViewData["offerAmount"];
    double offerPrice = (double)ViewData["offerPrice"];
    string offerCurrency = (string)ViewData["offerCurrency"];
    string userID = (string)ViewData["userID"];
}




<h1>- Confirm buy order -</h1>
&nbsp
<div> Buy @offerAmount @offerCurrency for price: @offerPrice </div>
&nbsp
<div>@Html.ActionLink("Confirm Order", "ConfirmBuyOffer", "Post", new {offerAmount = offerAmount, offerPrice = offerPrice, offerCurrency = offerCurrency, userID = userID}, null)</div>
