@model IEnumerable<Models.Currency>
@using Models

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            font-family: 'Roboto', Arial, sans-serif;
            background-color: #1a1a1a;
            color: #ffffff;
            margin: 0;
            padding: 0;
        }

        h1 {
            color: #ff9900;
        }

        .table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
            background-color: #333333;
            border: 1px solid #555555;
            border-radius: 5px;
            color: #ffffff;
        }

            .table th,
            .table td {
                border: 1px solid #555555;
                padding: 12px;
                text-align: left;
            }

            .table th {
                background-color: #3498db;
                color: #ffffff;
            }

            .table tbody tr:hover {
                background-color: #555555;
            }

            .table a {
                color: #3498db;
                text-decoration: none;
                font-weight: bold;
            }

                .table a:hover {
                    text-decoration: underline;
                }
    </style>
</head>

<body>

    <h1>Currencies</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewData["currencies"] as List<Currency>)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                        @Html.DisplayFor(modelItem => item.Exchange)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>

</body>

</html>
