@model List<Models.Currency>
@using Models

@{
    ViewData["Title"] = "Currencies";
}



<body>

    <h1>- Currencies -</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(Model => Model)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                if (Model[0] != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                                @Html.DisplayFor(modelItem => item.Exchange)
                            </td>
                            <td>
                                <!--Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })-->
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>

</body>

</html>
